.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121212;
    padding: 16px 32px;
}

.navbar h2 link {
    display: flex;
    align-items: center;
    gap: 8px;
}