.filmCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
    padding: 0px;
}

.filmCard img {
    width: 250px;
    height: 250px;
    border-radius: 8px 8px 0px 0px;
}